@import 'vars';

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}

a,
button {
	cursor: pointer;
}

img {
	max-width: 100%;
}

.center {
	padding-left: calc(50% - $widthContentSite / 2);
	padding-right: calc(50% - $widthContentSite / 2);
}

.header {
	margin: 0 auto;

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 18px;
		padding-bottom: 16px;
		background: #222222;
	}

	&__nav_search-logo {
		display: flex;
		align-items: flex-end;
		gap: 41px;
	}
	&__nav_menubar {
		display: flex;
		align-items: flex-end;
		gap: 33px;
	}
}

.breadcrumbs {
	min-height: 148px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f8f3f4;

	&__current-position {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		color: $selectiveColorSite;
	}
}

.reg-card {
	padding-top: 64px;
	padding-bottom: 96px;
	display: flex;
	gap: 128px;
}

.reg-form {
	width: 360px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	&__subtitle {
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #222222;
	}

	&__input {
		padding: 13px 16px 16px 16px;
		border: 1px solid #a4a4a4;
	}

	&__input::placeholder {
		font-family: inherit;
		font-style: normal;
		font-weight: 300;
		font-size: 13px;
		line-height: 16px;
		color: #b1b1b1;
	}

	&__radio-btns {
		margin-top: 13px;
		margin-bottom: 13px;
		display: flex;
		gap: 20px;
		font-weight: 300;
		font-size: 11px;
		line-height: 13px;
		color: #000000;
	}

	&__radio-btns label {
		cursor: pointer;
	}

	&__radio-btns_btn {
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
	}

	&__radio-input {
		width: 17px;
		height: 17px;
		cursor: pointer;
	}

	&__pswd-hint {
		margin-top: 16px;
		margin-bottom: 39px;
		font-family: inherit;
		font-style: normal;
		font-weight: 300;
		font-size: 13px;
		line-height: 16px;
		color: #b1b1b1;
	}

	&__button {
		width: 167px;
		padding-top: 16px;
		padding-bottom: 16px;
		background-color: $selectiveColorSite;
		font-family: inherit;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #ffffff;
		display: flex;
		gap: 20px;
		justify-content: center;
		align-items: center;
		border: none;
	}

	&__button:hover {
		scale: 1.1;
	}
}

.loyality-perks {
	width: 652px;
	display: flex;
	flex-direction: column;
	gap: 22px;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	color: #000000;

	&__title {
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
	}

	&__perk-list {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__perk {
		display: flex;
		gap: 22px;
		align-items: center;
	}
}

.inviting {
	background: url(../img/inviting/background.svg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 97px;
	padding-bottom: 126px;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__feedback {
		width: 360px;
		text-align: center;
	}

	&__feedback_text {
		margin-top: 30px;
		margin-bottom: 30px;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #222224;
	}

	&__feedback_text_italic {
		font-style: italic;
	}

	&__subscribe {
		text-align: center;
		width: 557px;
	}

	&__subscribe_title {
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 40px;
		text-align: center;
		color: #222224;
	}

	&__subscribe_subtitle {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		color: #222224;
	}

	&__subscribe_btn {
		margin-top: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__input_email {
		padding-left: 22px;
		padding-right: 64px;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		border: none;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		display: flex;
		align-items: center;
		color: #222224;
		background: #e1e1e1;
		min-height: 49px;
	}

	&__input_email:hover {
		cursor: text;
	}

	&__btn {
		padding-left: 19px;
		padding-right: 19px;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		border: none;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ffffff;
		background: #f16d7f;
		min-height: 49px;
		cursor: pointer;
	}
}

.footer {
	background: #222224;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__copyright {
		margin-top: 30px;
		margin-bottom: 30px;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #fbfbfb;
	}

	&__social-media_icons {
		display: flex;
		gap: 8px;
	}

	&__social-media_icon {
		background: #ffffff;
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__social-media_icon:hover {
		background: #f16d7f;
	}

	&__social-media_icon:hover path {
		fill: #ffffff;
	}
}
