$widthContentSite: 1140px;
$selectiveColorSite: #f16d7f;

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
}

a {
	cursor: pointer;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.center {
	padding-left: calc(50% - $widthContentSite / 2);
	padding-right: calc(50% - $widthContentSite / 2);
}

.header {
	margin: 0 auto;

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 18px;
		padding-bottom: 16px;
		background: #222222;
	}

	&__nav_search-logo {
		display: flex;
		align-items: flex-end;
		gap: 41px;
	}
	&__nav_menubar {
		display: flex;
		align-items: flex-end;
		gap: 33px;
	}
}

.breadcrumbs {
	min-height: 148px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f8f3f4;

	&__current-position {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		color: $selectiveColorSite;
	}

	&__items {
		display: flex;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #636363;
	}

	&__items_item:not(:last-child):after {
		content: ' /\00a0';
		color: #636363;
	}

	&__items_item:last-child {
		color: $selectiveColorSite;
	}
}

.main {
	padding-bottom: 128px;
	&__slider {
		padding-top: 24px;
		padding-bottom: 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #f7f7f7;
	}

	&__slider_button {
		width: 47px;
		height: 47px;
		border: none;
	}

	&__slider_button:hover {
		cursor: pointer;
	}

	&__slider_button:hover path {
		fill: $selectiveColorSite;
	}

	&__product-description {
		margin-bottom: 64px;
	}

	&__product-description_border {
		padding-top: 64px;
		padding-bottom: 64px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid #eaeaea;
	}

	&__product-description_title {
		margin-bottom: 12px;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: $selectiveColorSite;
	}

	&__short-line {
		margin-bottom: 12px;
		width: 64px;
		height: 4px;
		background-color: #ef5b70;
		border: none;
	}

	&__product-description_name {
		margin-bottom: 48px;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
		color: #4d4d4d;
	}

	&__product-description_about {
		width: 554px;
		margin-bottom: 32px;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: #5e5e5e;
	}

	&__product-description_price {
		margin-bottom: 64px;
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
		color: #ef5b70;
	}

	&__long-line {
		margin-bottom: 64px;
		width: 640px;
		border: 1px solid #eaeaea;
	}

	&__filter {
		margin-bottom: 48px;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #6f6e6e;
		display: flex;
		gap: 24px;
	}

	&__filter span {
		margin-right: 9px;
	}

	&__add-button {
		padding: 14px 56px 8px 24px;
		color: $selectiveColorSite;
		border: 1px solid $selectiveColorSite;
		display: flex;
		gap: 24px;
	}

	&__goods {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	&__goods_item {
		width: 360px;
	}

	&__item_card {
		padding: 24px 28px 20px 16px;
		background: #f8f8f8;
	}

	&__item_product-name {
		margin-bottom: 12px;
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 16px;
		color: #000000;
	}

	&__item_product-description {
		margin-bottom: 18px;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #5d5d5d;
	}

	&__item_product-price {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: $selectiveColorSite;
	}
}

.inviting {
	background: url(img/inviting/background.svg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 97px;
	padding-bottom: 126px;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__feedback {
		width: 360px;
		text-align: center;
	}

	&__feedback_text {
		margin-top: 30px;
		margin-bottom: 30px;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #222224;
	}

	&__feedback_text_italic {
		font-style: italic;
	}

	&__subscribe {
		text-align: center;
		width: 557px;
	}

	&__subscribe_title {
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 40px;
		text-align: center;
		color: #222224;
	}

	&__subscribe_subtitle {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		color: #222224;
	}

	&__subscribe_btn {
		margin-top: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__input_email {
		padding-left: 22px;
		padding-right: 64px;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		border: none;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		display: flex;
		align-items: center;
		color: #222224;
		background: #e1e1e1;
		min-height: 49px;
	}

	&__btn {
		padding-left: 19px;
		padding-right: 19px;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		border: none;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ffffff;
		background: #f16d7f;
		min-height: 49px;
		cursor: pointer;
	}
}

.footer {
	background: #222224;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__copyright {
		margin-top: 30px;
		margin-bottom: 30px;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #fbfbfb;
	}

	&__social-media_icons {
		display: flex;
		gap: 8px;
	}

	&__social-media_icon {
		background: #ffffff;
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__social-media_icon:hover {
		background: #f16d7f;
	}

	&__social-media_icon:hover path {
		fill: #ffffff;
	}
}
